body {
    font-family: 'Roboto', sans-serif;
}
.header-bg {
    background:#f8f8f8; 
    box-shadow:0px -1px 2px 2px #ccc;
}
a {
    color: #fff; 
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #333;
    font-size: 15px; line-height: 26px;
}
img {
    width:100%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -50px;
}
.carousel-profile-image {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}
.name{
    display: block;
}
.sub-text {
    color:#333;
}
.grey-border {
    border:1px #eee solid;
}
.carousel-item a {
    color: #007bff;
}
.callupon-btn {
    background: royalblue !important; 
    color:#fff !important; 
    cursor: pointer;
}
.callupon-btn:hover a {
    background: royalblue !important; 
    color:#fff !important;
}
.img-square-wrapper {
    padding:1.25rem
}
.carousel-control-prev-icon {
    background: none; 
    color: #333;
}
.carousel-control-next-icon {
    background: none; 
    color: #333;
}
.carousel-control-next, .carousel-control-prev {
    width:1%;
    height: 25px; 
    color: #333; 
    opacity: 1; 
    top:40%;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
    color:#333;
}
.carousel-control-prev {
    left:-50px;
}
.carousel-control-next {
    right:-50px;
}
.media-object {
    width:100%;
}
.media-content {
    background:#f8f8f8;
}
.white {
    background:#fff;
}
.shadow {
    box-shadow:0px 0px 2px 1px #eee !important;
}
.media-content a {
    color:#333; 
    font-weight:bold;
}
.b-font {
    font-size:48px;
}
.s-font {
    font-size:24px;
}
.no-border {
    border:0px #000 solid;
}
.img-square-wrapper img {
    width:300px;
    height: 180px;
}
.media-object-img {
    width: 100%; 
    height: 180px;
}
.alert-grey {
    background:#f8f8f8; 
    border-color:#eee
}
footer a {
    color: #333;
}
.col_white_amrc { 
    color:#FFF;
}
footer { 
    width:100%; 
    background-color:#263238; 
    min-height:250px; 
    padding:10px 0px 25px 0px;
}
.pt2 { 
    padding-top:40px; 
    margin-bottom:20px;
}
footer p { 
    font-size:13px; 
    color:#CCC; 
    padding-bottom:0px; 
    margin-bottom:8px;
}
.mb10 { 
    padding-bottom:15px ;}
.footer_ul_amrc {
    margin:0px ; 
    list-style-type:none ; 
    font-size:14px; 
    padding:0px 0px 10px 0px; 
}
.footer_ul_amrc li {
    padding:0px 0px 5px 0px;
}
.footer_ul_amrc li a{ 
    color:#CCC;
}
.footer_ul_amrc li a:hover{ 
    color:#fff; 
    text-decoration:none;
}
.fleft { 
    float:left;
}
.padding-right {
    padding-right:10px;
}
.footer_ul2_amrc {
    margin:0px; 
    list-style-type:none; 
    padding:0px;
}
.footer_ul2_amrc li p { 
    display:table;
}
.footer_ul2_amrc li a:hover {
    text-decoration:none;
}
.footer_ul2_amrc li i {
    margin-top:5px;
}

.bottom_border {
    border-bottom:1px solid #323f45;
    padding-bottom:20px;
}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { 
    display:inline;
}
.foote_bottom_ul_amrc li a { 
    color:#999; 
    margin:0 12px;
}
.social_footer_ul { 
    display:block; 
    margin:15px auto 0 auto; 
    padding: 0px; 
    text-align: center; 
    list-style-type:none;
 }
.social_footer_ul li { 
    padding-right:20px; 
    display: inline-block;
}
.social_footer_ul li a { 
    color:#CCC; 
    border:1px solid #CCC;
    padding:8px;
    border-radius:50%;
}
.social_footer_ul li i {  
    width:20px; 
    height:20px; 
    text-align:center;
}
.copyright {
    width: 100%; 
    display: block;
}
#form-container{
    border-radius: .25rem;
    padding: 0rem 0;  
}
#form-container form{
    width: 85%;
    margin: 0rem auto;
}
.social-btn{
    display: block;
    outline: none;
    box-shadow: none;
    margin-bottom: 0rem;
    width:100%;
    color: #fff;
    line-height: 2.5rem;
    border-radius: .25rem; 
    box-sizing: border-box;
    padding-right: 1rem;
}
p{
    position: relative ;
}
.social-btn i{
    display: inline-block;
    width: 5rem; 
    padding-right: 1.5rem;
    font-size: 1.6rem;
    vertical-align: middle;
    text-align: center;
}
.fb-btn{
    background-color: #3b5998; 
    transition: .1s background ease-in-out;
}
.gp-btn{
    background-color: #d34836; 
    transition: .1s background ease-in-out;
}
.fb-btn:hover{
    background-color: #3f60a5
}
.gp-btn:hover, input[type="submit"]:hover{
    background-color: #db4835;
}
.fb-btn:hover, .gp-btn:hover {
    color:#FFF;
}
.divider{
    content: '';
    display: block;
    height: 97%;
    box-sizing: border-box;
    position: absolute;
    top:1px;
    left: 3.5rem;
}
.divider-fb{    
    box-shadow: 1px 0 0 .03em #496bae,3px 0 0 .03em #2f529b;
}
.divider-gp{    
    box-shadow: .15em 0 0 .03em #d36f62, .25em 0 0 .03em #cb321f;
}
.or-divider{
    position: relative; 
    text-align: center; 
    margin: 2rem 0;
    color: #dcc1c1;
}
.or-divider::after, 
.or-divider::before{
    content: "";
    box-sizing: border-box;
    display: block;
    width: 44%;
    height: .5rem;
    border-top: 1px solid #ffd0d0;
    border-bottom: 1px solid #ffd0d0;
    float: left;
    margin-top: 5px;
    text-align: center;
}
.or-divider::before{
    float: right;
}
::placeholder {
    color:#333; 
    font-size: 12px;
}
::-webkit-input-placeholder {  
    color: #333; 
} 
:-moz-placeholder {   
    color: #333;  
}
::-moz-placeholder {   
    color: #333;  
}
:-ms-input-placeholder {
      color: #333;  
}
input, select, textarea {
    border:0px solid #333;
    box-shadow: 0px 0px 0px 0px #333;
    outline:none;    
}
input:focus, 
select:focus, 
textarea:focus, 
input:active, 
select:active, 
textarea:active { 
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #eee;
  -webkit-text-fill-color: #343434;
  -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset;
  transition: background-color 5000s ease-in-out 0s;
}
input[type='submit']{
    border:none;
    background-color: #d34836;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
}
#recover-new-account{
    width: 100%;
    margin: 10px auto;
    font-size: 13px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
#recover-new-account a{
    color: #007bff;
    text-align: center;
}
#recover-new-account a:hover{
    color: #007bff; 
}
#recover-new-account{
    color: #dcc1c1
}
.modal-dialog {
    max-width: 400px;
}
.trending-petitions {
    background:#eee;
}
.read-more {
    font-size: 14px;
    line-height: 1.5;
}
.read-more p.collapse:not(.show) {
      height: 45px !important;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
  }
.read-more p.collapsing {
      min-height: 45px !important;
}
.read-more span.collapsed:after  {
      content: '+ Read More';
      color: #dc3545!important;
      margin: 5px 0px;
      font-weight: bold;
      cursor: pointer;
      display: block;
}
.read-more span:not(.collapsed):after {
      content: '- Read Less';
      color:#dc3545!important;
      font-weight: bold;
      cursor: pointer;
      margin: 5px 0px;
}
div.menu{
    background: transparent;
}
.filter div {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #EEE;
    position: relative;
    cursor: pointer;
    margin: 0px;
}
.filter div.active {
    background: #333;
    color: #fff;
    border: 2px #333 solid;
}
.filter div.active:after {
    content: '';
    position: absolute;
    left: 40%;
    bottom: -30%;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #333;
}
.cnt{
   border:2px #eee solid;
   margin: -2px;
}  
.border-light {
    border:1px #eee solid !important;
}
.comment {
    color: #808080;
    position: relative;
    padding: 15px;
    background: #f1f1f1;
    border: 1px solid #efefef;
    border-radius: 3px;
	margin-bottom: 15px;
}
.comment::after {
	content: "";
	width: 15px;
	height: 15px;
	display: block;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-width: 0 0 1px 1px;
	position: absolute;
	bottom: -8px;
	left: 46px;
	transform: rotateZ(-46deg);
}
.star-rating li {
	padding: 0 2px;
}
.star-rating i {
	font-size: 16px;
	color: #ffdc12;
}
.overview {
	padding: 3px 0 0 15px;
}
.overview .details {
	padding: 5px 0 8px;
}
.overview b {
	text-transform: uppercase;
	color: #1abc9c;
}
.comment-media-body, 
.comment-media-left, 
.comment-media-right {
    display: table-cell;
    vertical-align: top;
}
.comment-media {
	position: relative;
	padding: 0 0 0 20px;
}
.comment-media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
}





.btn-social{
    position:relative;
    padding-left:44px;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.btn-social :first-child{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:32px;
    line-height:34px;
    font-size:1.6em;
    text-align:center;
    border-right:1px solid rgba(0,0,0,0.2)
}
.btn-social-icon{
    position:relative;
    padding-left:44px;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height:34px;
    width:34px;
    padding-left:0;
    padding-right:0
}
.btn-facebook{
    color:#fff;
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2)
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook{
    color:#fff;
    background-color:#30487b;
    border-color:rgba(0,0,0,0.2)
}
.btn-twitter{
    color:#fff;
    background-color:#2ba9e1;
    border-color:rgba(0,0,0,0.2)
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter{
    color:#fff;
    background-color:#1c92c7;
    border-color:rgba(0,0,0,0.2)
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter{
    background-image:none
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active{
    background-color:#2ba9e1;
    border-color:rgba(0,0,0,0.2)
}

.support {
    position: relative;
}
.support-overlay {
    background: rgba(0,0,0,0.5); 
    position: absolute; 
    width: 100%; 
    height: 100%;
}

.load-content {
    display: none;
}

.load-content1 {
    display: none;
}
.load-content2 {
    display: none;
}
.load-content3 {
    display: none;
}

  
.no-more-petition {
    cursor: default;
}

.nav-tabs {
    display:none;
}



@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

@media screen and (min-width:320px) and (max-width:720px) {

    .card-horizontal {
        display: block;
    }

    .img-square-wrapper img {
        width: 100%;
        height: auto;
    }

}