<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Index</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Tajawal:300,400,500,700,800,900&display=swap" rel="stylesheet">
      <script src="js/jquery-1.11.1.min.js"></script>
   </head>
   <body>
      <!-- header-->
      <!--Main Navigation-->
      <header>
         <!-- top bar start-->
         <div class="top-main">
            <div class="number">
               <h3><i class="fa fa-phone" aria-hidden="true"></i> +91 000 000 0000</h3>
               <div class="clearfix"></div>
            </div>
            <div class="social-icons">
               <ul class="top-icons">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
               </ul>
            </div>
            <div class="clearfix"></div>
         </div>
         <!-- top Bar end -->
         <div class="logo-container">
            <nav class="container">
               <div class="navbar navbar-right navbar-expand-lg navbar-light">
                  <h1><a class="navbar-brand text-capitalize" href="index.html"><img src="images/logo.png" alt="logo" class="logo" /></a></h1>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav text-center  ml-lg-auto">
                        <li class="nav-item active  mr-3">
                           <a class="nav-link" href="index.html">Home
                           <span class="sr-only">(current)</span>
                           </a>
                        </li>
                        <li class="nav-item  mr-3">
                           <a class="nav-link" href="credit-card.html">Credit Card</a>
                        </li>
                        <li class="nav-item  mr-3">
                           <a class="nav-link" href="about-us.html">About Us</a>
                        </li>
                        <li class="nav-item dropdown mr-3">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Loan
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item" href="loan/personal-loan.html">Personal Loan</a>
                                 <a class="dropdown-item" href="loan/home-loan.html">Home Loan</a>
                                 <a class="dropdown-item" href="loan/car-loan.html">Car Loan</a>
                                 <a class="dropdown-item" href="loan/business-loan.html">Business Loan</a>
                                 <a class="dropdown-item" href="loan/gold-loan.html">Gold Loan</a>
                           </div>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="contact-us.html">Contact Us</a>
                        </li>
                     </ul>
                  </div>
                  <div class="nav-login btn" data-toggle="modal" data-target="#modalLoginForm">Login</div>
               </div>
            </nav>
         </div>
      </header>
      <!-- header-->
      <!--banner-->
      <section class="">
         <div class="container-fluid">
            <div class="row">
               <div id="da-slider" class="da-slider">
                  <div class="da-slide">
                     <h2>Credit Score</h2>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                     <a href="#" class="da-link">Read more</a>
                     <div class="da-img"><img src="images/banner-image1.png" alt="image01" /></div>
                  </div>
                  <div class="da-slide">
                     <h2>Home Loan</h2>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                     <a href="#" class="da-link">Read more</a>
                     <div class="da-img"><img src="images/banner-image2.png" alt="image01" /></div>
                  </div>
                  <div class="da-slide">
                     <h2>Personal Loan</h2>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                     <a href="#" class="da-link">Read more</a>
                     <div class="da-img"><img src="images/banner-image3.png" alt="image01" /></div>
                  </div>
                  <div class="da-slide">
                     <h2>Business Loan</h2>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                     <a href="#" class="da-link">Read more</a>
                     <div class="da-img"><img src="images/banner-image4.png" alt="image01" /></div>
                  </div>
                  <nav class="da-arrows">
                     <span class="da-arrows-prev"></span>
                     <span class="da-arrows-next"></span>
                  </nav>
               </div>
            </div>
         </div>
      </section>
      <!--banner bottom-->
      <section class="loan-apply">
         <div class="container">
            <div class="row text-center">
               <h1>How to Apply for Business Loan Online?</h1>
               <div class="col-md-3">
                  <div class="circle">1</div>
                  <span>Check Eligibility</span>
                  <p>Check your eligibility for a business Loan</p>
               </div>
               <div class="col-md-3">
                  <div class="circle">2</div>
                  <span>Submit Application</span>
                  <p>Complete a 100% online application form</p>
               </div>
               <div class="col-md-3">
                  <div class="circle">3</div>
                  <span> Get Sanctioned</span>
                  <p>We will evaluate your application and propose a fair sanction</p>
               </div>
               <div class="col-md-3">
                  <div class="circle">4</div>
                  <span>Receive Funds</span>
                  <p>Receive your loan within 3 days and use it to grow your business</p>
               </div>
            </div>
         </div>
      </section>
      <section class="services-bg">
         <div class="container">
            <div class="row">
               <div class="col-md-6 box">
                  <span>Our<abbr> Services</abbr></span>
                  <p>Your credit score is a <abbr>number that reflects</abbr> your financial history.</p>
                  <p>Your credit score is a number that reflects your financial history. Learn how to improve your score to get better deals on credit cards and loans.</p>
                  <div class="btn btn-primary submit-btn">Contact Us</div>
               </div>
               <div class="col-md-6 text-center">
                  <div class="row">
                     <div class="col-md-4 services-box-bg primary-color">
                        <div class="icon"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                        <span><i>Credit Card</i></span>
                        <p>Your credit score is a number that reflects your financial history.</p>
                     </div>
                     <div class="col-md-4 services-box-bg dark-color">
                        <div class="icon"><i class="fa fa-bandcamp dark-color" aria-hidden="true"></i></div>
                        <span><i>Personal Loan</i></span>
                        <p>Your credit score is a number that reflects your financial history.</p>
                     </div>
                     <div class="col-md-4 services-box-bg primary-color">
                        <div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                        <span><i>Home Loan</i></span>
                        <p>Your credit score is a number that reflects your financial history.</p>
                     </div>
                     <div class="col-md-4 services-box-bg dark-color">
                        <div class="icon"><i class="fa fa-briefcase dark-color" aria-hidden="true"></i></div>
                        <span><i>Business Loan</i></span>
                        <p>Your credit score is a number that reflects your financial history.</p>
                     </div>
                     <div class="col-md-4 services-box-bg primary-color">
                        <div class="icon"><i class="fa fa-diamond" aria-hidden="true"></i></div>
                        <span><i>Gold Loan</i></span>
                        <p>Your credit score is a number that reflects your financial history.</p>
                     </div>
                     <div class="col-md-4 services-box-bg dark-color">
                        <div class="icon"><i class="fa fa-car dark-color" aria-hidden="true"></i></div>
                        <span><i>Car Loan</i></span>
                        <p>Your credit score is a number that reflects your financial history.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="credit-bg">
         <div class="container">
            <div class="row">
               <div class="col-md-6 box">
                  <span><abbr>Track </abbr>your credit score</span>
                  <p>Your credit score is a number that reflects your financial history. Learn how to improve your score to get better deals on credit cards and loans.</p>
                  <div class="btn btn-primary submit-btn">See my free score</div>
               </div>
               <div class="col-md-6 box text-right"><img src="images/credit-right.png" alt="" /></div>
            </div>
         </div>
      </section>
      <section class="footer-top">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="row d-flex align-items-start flex-column bd-highlight mb-3">
                     <div class="col-md-4 services-box-bg dark-color box">
                        <div class="icon"><i class="fa fa-smile-o dark-color" aria-hidden="true"></i></div>
                        <span><i>04 Milion</i></span>
                        <p>Happy Customers</p>
                     </div>
                     <div class="col-md-4 services-box-bg dark-color box">
                        <div class="icon"><i class="fa fa-handshake-o dark-color" aria-hidden="true"></i></div>
                        <span><i>2500+</i></span>
                        <p>Relationship Managers</p>
                     </div>
                     <div class="col-md-4 services-box-bg dark-color box">
                        <div class="icon"><i class="fa fa-check-circle-o dark-color" aria-hidden="true"></i></div>
                        <span><i>₹ 45,000 Cr+</i></span>
                        <p>Business Done</p>
                     </div>
                     <div class="col-md-4 services-box-bg dark-color box second-box">
                        <div class="icon"><i class="fa fa-university dark-color" aria-hidden="true"></i></div>
                        <span><i>90+</i></span>
                        <p>Banks & NBFCs</p>
                     </div>
                     <div class="col-md-4 services-box-bg dark-color box third-box">
                        <div class="icon"><i class="fa fa-trophy dark-color" aria-hidden="true"></i></div>
                        <span><i>100+</i></span>
                        <p>Bank Awards</p>
                     </div>
                     <div class="col-md-4 services-box-bg dark-color box fourth-box">
                        <div class="icon"><i class="fa fa-cogs dark-color" aria-hidden="true"></i></div>
                        <span><i>500+</i></span>
                        <p>Cities Serviced</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 footer-box-right">
                  <span>Why<abbr> Gogetscore</abbr></span>
                  <p>Your credit score is a <abbr>number that reflects</abbr> your financial history.</p>
                  <p>INDIA'S FIRST LOAN DISTRIBUTION COMPANY
                     Gogetscore is India's leading financial services marketplace. We have over 29+ years of experience, partnership with 90+ reputed financial institutions, a wide product range and a promise to get you the best deal. Our services come at no cost to you.
                  </p>
               </div>
            </div>
         </div>
         </div>
      </section>
      <section>
         <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
               <!-- Carousel indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
               </ol>
               <!-- Wrapper for carousel items -->
               <div class="carousel-inner">
                  <div class="item carousel-item active">
                     <div class="img-box"><img src="images/testimonials-image.jpg" alt=""></div>
                     <p class="testimonial"><span>Timely Update On Score Change</span>
                        My credit score has updates has helped me to improve considerably within a span of 1 year. My sincere thanks to your GoGetScore Team and I am happy with teams professionalism .
                     </p>
                     <p class="overview"><b>- Krishnan Iyer</b>, Chennai</p>
                  </div>
                  <div class="item carousel-item">
                     <div class="img-box"><img src="images/testimonials-image.jpg" alt=""></div>
                     <p class="testimonial"><span>Awsome Support</span>
                        I am very glad to tell you that my Yes Bank Credit card problem is solved and I am very thankful to you because it got resolved only because of your help. CITI Bank has confirmed that there is no due amount to be paid from my part. Thank you very much for your support and the care you took for my issue. Special thanks to Mr. Vikram for taking care of my issue.
                     </p>
                     <p class="overview"><b>- Nitish Verma</b>, Bhopal</p>
                  </div>
               </div>
               <!-- Carousel controls -->
               <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </section>
      <!-- foooter-->
      <footer>
         <div class="copyright">
            Please Note***** GoGetScore will never ask you to make a payment anywhere outside the secure GoGetScore website. DO NOT make payment to any other bank account or wallet or divulge your bank/card details to fraudsters and imposters claiming to be operating on our behalf.
         </div>
         <div class="text-center">
            <ul class="ml-lg-auto">
               <li class="mr-3">
                  <a href="index.html">Home</a>
               </li>
               <li class="mr-3">
                  <a href="about-us.html">About Us</a>
               </li>
               <li class="mr-3">
                  <a href="term-and-condition.html">Terms & Conditions</a>
               </li>
               <li class="mr-3">
                  <a href="privacy-policy.html">Privacy Policy</a>
               </li>
               <li>
                  <a href="contact-us.html">Contact Us</a>
               </li>
            </ul>
         </div>
      </footer>
      <!-- footer-->
      <!--login form pop up-->
      <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Login</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body mx-3">
                  <div class="form-group">
                     <label class="form-label" for="verifyphone">Enter your Phone number</label>
                     <input type="text" id="verifyphone" class="form-input" name="verifyphone" />
                  </div>
               </div>
               <div class="modal-footer d-flex justify-content-center">
                  <div class="btn btn-primary submit-btn" data-dismiss="modal" data-toggle="modal" data-target="#modalLoginFormverify">Verify</div>
               </div>
            </div>
         </div>
      </div>
      <!--login form pop up-->
      <!--login form verify  pop up-->
      <div class="modal fade" id="modalLoginFormverify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Enter OTP</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body mx-3 text-center">
                  <form method="get" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                     <input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
                     <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
                     <span class="splitter">&ndash;</span>
                     <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
                     <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
                  </form>
               </div>
               <div class="modal-footer d-flex justify-content-center">
                  <div class="btn btn-primary submit-btn" data-toggle="modal" data-target="#modalLoginFormverify">Verify</div>
               </div>
            </div>
         </div>
      </div>
      <!--login form verify pop up-->
      <script src="js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
      <script type="text/javascript" src="js/jquery.cslider.js"></script>
      <script>
         $(function() {
         
         	$('#da-slider').cslider();
         	
         });
      </script>
      <script>
         $( function() {
           $( "#datepicker" ).datepicker();
         } );
      </script>
      <script>
         $(".close").click(function() {
                $("#myModal").hide();
              });
         
          
      </script>	
      <script>
         $('.date-form-input').click(function(){
         	 $(this).parents('.form-group').addClass('focused');
         	 $('.small-date').show();
         	 $('.large-date').hide();
            });
      </script>
      <script>
         $('.form-input').focus(function(){
           $(this).parents('.form-group').addClass('focused');
         });
         
         $('.form-input').blur(function(){
           var inputValue = $(this).val();
           if ( inputValue == "" ) {
             $(this).removeClass('filled');
             $(this).parents('.form-group').removeClass('focused');  
           } else {
             $(this).addClass('filled');
           }
         })  
         
      </script>
      <script>
         $('.digit-group').find('input').each(function() {
         	$(this).attr('maxlength', 1);
         	$(this).on('keyup', function(e) {
         		var parent = $($(this).parent());
         		
         		if(e.keyCode === 8 || e.keyCode === 37) {
         			var prev = parent.find('input#' + $(this).data('previous'));
         			
         			if(prev.length) {
         				$(prev).select();
         			}
         		} else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
         			var next = parent.find('input#' + $(this).data('next'));
         			
         			if(next.length) {
         				$(next).select();
         			} else {
         				if(parent.data('autosubmit')) {
         					parent.submit();
         				}
         			}
         		}
         	});
         });
      </script>
   </body>
</html>